{% extends "base.html" %}
{% block title %}homepage{% endblock %}
{% block content %}
<h1>Blogly</h1>
{% for post in posts %}
<h2>
  <a href="/post/{{ post.id }}">{{ post.title }}</a>
</h2>
<p>{{ post.content }}</p>
<p>
  <small>Posted by {{ post.user.get_name }} on {{ post.format_date }}</small>
</p>
{% if post.tag %}
<p>
  {% for tag in post.tag %}
  <a href="/tag/{{ tag.id }}">
    <i class="tag">{{ tag.name }}</i></a>
  {% endfor %}
</p>
{% endif %}
{% endfor %}

{% endblock %}